<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.applicationLaunchType">
<stringAttribute key="ATTR_PERFORMANCEBUILD_CONFIGURATION_NAME" value=""/>
<stringAttribute key="ETFW_VERSION" value="sax-parser"/>
<stringAttribute key="TAU Runtime.performance.options.configuration_id_" value=""/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_PROFILEDIR_ARGUMENT_DEFAULT" value="true"/>
<stringAttribute key="TAU Runtime.performance.options.configuration_id_PROFILEDIR_ARGUMENT_SAVED" value="%%PROJECT_DIR%%"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_CALLPATH_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_CALLPATH_DEPTH_ARGUMENT_DEFAULT" value="false"/>
<intAttribute key="TAU Runtime.performance.options.configuration_id_TAU_CALLPATH_DEPTH_ARGUMENT_SAVED" value="0"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_COMM_MATRIX_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_COMPENSATE_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_PROFILE_ARGUMENT_DEFAULT" value="true"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_PROFILE_FORMAT_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="TAU Runtime.performance.options.configuration_id_TAU_PROFILE_FORMAT_ARGUMENT_SAVED" value="profile"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_SYNCHRONIZE_CLOCKS_ARGUMENT_DEFAULT" value="true"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_THROTTLE_ARGUMENT_DEFAULT" value="true"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_THROTTLE_NUMCALLS_ARGUMENT_DEFAULT" value="true"/>
<intAttribute key="TAU Runtime.performance.options.configuration_id_TAU_THROTTLE_NUMCALLS_ARGUMENT_SAVED" value="0"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_THROTTLE_PERCALL_ARGUMENT_DEFAULT" value="true"/>
<intAttribute key="TAU Runtime.performance.options.configuration_id_TAU_THROTTLE_PERCALL_ARGUMENT_SAVED" value="0"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_TRACE_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_TRACK_HEADROOM_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_TRACK_HEAP_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_TRACK_MESSAGE_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TAU_VERBOSE_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="TAU Runtime.performance.options.configuration_id_TRACEDIR_ARGUMENT_DEFAULT" value="true"/>
<stringAttribute key="TAU Runtime.performance.options.configuration_id_TRACEDIR_ARGUMENT_SAVED" value="%%PROJECT_DIR%%"/>
<mapAttribute key="TAU Runtime.performance.options.environmentvariables.configuration_id_">
<mapEntry key="PROFILEDIR" value="%%PROJECT_DIR%%"/>
<mapEntry key="TAU_PROFILE" value="1"/>
<mapEntry key="TAU_SYNCHRONIZE_CLOCKS" value="1"/>
<mapEntry key="TAU_THROTTLE" value="1"/>
<mapEntry key="TAU_THROTTLE_NUMCALLS" value="0"/>
<mapEntry key="TAU_THROTTLE_PERCALL" value="0"/>
<mapEntry key="TRACEDIR" value="%%PROJECT_DIR%%"/>
</mapAttribute>
<stringAttribute key="TAU_DATA_MANAGEMENT_PANE" value=""/>
<stringAttribute key="TAU_MAKEFILE_SELECTION_PANE" value=""/>
<stringAttribute key="TAU_SELECTIVE_SELECTION_PANE" value=""/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_" value="-tau_options='-optNoRevert  '"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTAPPCC_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTAPPCC_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTAPPCXX_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTAPPCXX_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTAPPF90_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTAPPF90_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTCOMPILE_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTCOMPILE_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTCOMPINST_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTCPPOPTS_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTCPPOPTS_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTCPPRESET_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTCPPRESET_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTCPP_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTCPP_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTDETECTMEMORYLEAKS_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTDISABLEHEADERINST_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTINCLUDEMEMORY_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTINCLUDEMEMORY_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTKEEPFILES_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTLINKING_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTLINKING_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTLINKRESET_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTLINKRESET_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTMPI_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTNOCOMPINST_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTNOMPI_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTNOREVERT_ARGUMENT_DEFAULT" value="true"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTOPARIDIR_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTOPARIDIR_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTOPARIOPTS_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTOPARIOPTS_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTOPARIRESET_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTOPARIRESET_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTOPARITOOL_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTOPARITOOL_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDBFILE_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDBFILE_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTCLEANSCAPEPARSER_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTCOPTS_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTCOPTS_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTCRESET_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTCRESET_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTCXXOPTS_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTCXXOPTS_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTCXXRESET_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTCXXRESET_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTDIR_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTDIR_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTF90PARSER_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTF90PARSER_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTF95OPTS_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTF95OPTS_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTF95RESET_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTF95RESET_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTGNUFORTRANPARSER_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTINST_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTUSER_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPDTUSER_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTPREPROCESS_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTRESET_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTRESET_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTREVERT_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTSHARED_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUCC_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUCC_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUDEFS_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUDEFS_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUINCLUDES_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUINCLUDES_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUINSTR_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUINSTR_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUSELECTFILE_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUSELECTFILE_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUSELECTFILE_BUTTON_STATE" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAUUSECXXFORC_ARGUMENT_DEFAULT" value="false"/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAU_ARGUMENT_DEFAULT" value="false"/>
<stringAttribute key="Tau Compiler.performance.options.configuration_id_-OPTTAU_ARGUMENT_SAVED" value=""/>
<booleanAttribute key="Tau Compiler.performance.options.configuration_id_-OPTVERBOSE_ARGUMENT_DEFAULT" value="false"/>
<mapAttribute key="Tau Compiler.performance.options.environmentvariables.configuration_id_"/>
<booleanAttribute key="analyze_existing_perf_data_in_specified_location_build/run_nothing" value="false"/>
<listAttribute key="argument names use in parametric study"/>
<listAttribute key="argument values use in parametric study"/>
<booleanAttribute key="build_but_do_not_run_instrumented_executable" value="false"/>
<stringAttribute key="compiler optimization levels to use in parametric study" value=""/>
<listAttribute key="env-var names to use in parametric study"/>
<listAttribute key="env-var values to use in parametric study"/>
<booleanAttribute key="keep_profile_files" value="false"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value=""/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
<booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.BRANCH_SIM" value="false"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.CACHE_SIM" value="true"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.D1" value="false"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.D1_ASSOC" value="0"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.D1_LSIZE" value="0"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.D1_SIZE" value="0"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.I1" value="false"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.I1_ASSOC" value="0"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.I1_LSIZE" value="0"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.I1_SIZE" value="0"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.L2" value="false"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.L2_ASSOC" value="0"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.L2_LSIZE" value="0"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.cachegrind.L2_SIZE" value="0"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.launch.FULLPATH_AFTER" value="true"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_BELOWMAIN" value="false"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_DEMANGLE" value="true"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_DSYMUTIL" value="true"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_ERRLIMIT" value="true"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_FREERES" value="true"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_MAINSTACK" value="0"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_MAINSTACK_BOOL" value="false"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_MAXFRAME" value="2000000"/>
<intAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_NUMCALLERS" value="12"/>
<stringAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_OTHER_OPTIONS" value=""/>
<listAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_SUPPFILES"/>
<booleanAttribute key="org.eclipse.linuxtools.valgrind.launch.GENERAL_TRACECHILD" value="false"/>
<stringAttribute key="org.eclipse.linuxtools.valgrind.launch.TOOL" value="org.eclipse.linuxtools.valgrind.launch.cachegrind"/>
<intAttribute key="papi_counter_type_selection" value="0"/>
<stringAttribute key="path to the perfexplorer script to use in parametric study" value=""/>
<intAttribute key="pdt_or_compiler_inst_selection" value="1"/>
<stringAttribute key="perfdmf_database_configuration" value="No databases available"/>
<stringAttribute key="perfdmf_database_simple_name" value="No databases available"/>
<booleanAttribute key="print_profile_summary_only" value="false"/>
<stringAttribute key="provider" value="org.eclipse.linuxtools.profiling.provider.valgrind.cachegrind"/>
<stringAttribute key="selected_performance_tool" value="TAU"/>
<intAttribute key="selective_instrumentation" value="0"/>
<listAttribute key="tells which para args are checked"/>
<listAttribute key="tells which para vars are checked"/>
<booleanAttribute key="true_if_recompiling_for_analysis" value="true"/>
<booleanAttribute key="true_if_using_performance_analysis_execution_utility" value="false"/>
<booleanAttribute key="upload_profiles_to_portal" value="false"/>
<booleanAttribute key="use simple weak scaling in perf parametric tests" value="false"/>
<booleanAttribute key="use the parametric analysis system" value="false"/>
<booleanAttribute key="use_automatic_tau_reduce" value="false"/>
<booleanAttribute key="use_callpath_profiling" value="false"/>
<booleanAttribute key="use_epilog" value="false"/>
<booleanAttribute key="use_memory_profiling" value="false"/>
<booleanAttribute key="use_mpi" value="true"/>
<booleanAttribute key="use_opari" value="false"/>
<booleanAttribute key="use_openmp" value="false"/>
<booleanAttribute key="use_papi_library" value="false"/>
<booleanAttribute key="use_perf_library" value="false"/>
<booleanAttribute key="use_tau_phases" value="false"/>
<booleanAttribute key="use_tau_tracing" value="false"/>
<booleanAttribute key="use_tau_with_PDT" value="false"/>
<booleanAttribute key="use_tauinc_script" value="false"/>
<booleanAttribute key="use_vampirtrace" value="false"/>
</launchConfiguration>
