/cubic-spline-for-projectors-with-normalization-31249493.comet-33-10.out
/fixed-first-second-issue-31252581.comet-33-10.out
/fixed-first-second-issue-31252583.comet-33-10.out
/fixed-first-second-issue-31252740.comet-34-02.out
/fixed-first-second-issue-no-normChi-31252782.comet-34-04.out
/fixed-first-second-issue-no-normChi-31254064.comet-34-17.out
/chi-order5-spline-31254936.comet-34-04.out
/no-normalize-order6-31248775.comet-33-10.out
/no-normalize-order6-31249463.comet-33-10.out
/normalize-chi-to-1-31248720.comet-33-10.out
/normalize-chi-to-1-31248753.comet-33-10.out
/maxSideLength32
/maxSideLength32-order6
/maxSideLength8
/maxSideLength8-order6
/order3-natural-with-normalization-31249909.comet-33-10.out
/order3-natural-without-normalization-31249914.comet-33-10.out
/order4-natural-with-normalization-31249530.comet-34-04.out
/order4-natural-with-normalization-pull-r-out-31249765.comet-33-10.out
/order4-natural-without-normalization-31249557.comet-33-10.out
/order4-natural-without-normalization-pull-r-out-31249762.comet-33-10.out
/order44-natural-with-normalization-pull-r-out-31249773.comet-33-02.out
/order6-cubic-spline-for-projectors-with-normalization-31249516.comet-33-10.out
/order6-natural-with-normalization-31249529.comet-33-10.out
/order6-natural-without-normalization-31249561.comet-34-04.out
/no-chi-normalization
